{{> navbar}}
<div class="container mt-3">
  <div class="d-flex align-items-center gap-3">
    <img
      class="img-thumbnail"
      src="/img/El-chavo-del-8.png"
      alt="Chavo del 8"
      width="250"
    >
    <div>
      <h2>Yo soy el Chavo del 8</h2>
      <p>
        Hola!!!!, mi nombre es Chavo del 8 y soy un fiel representante de los niños de México. Y aunque mi situación de vida es precaria ya que vivo en un barril, puedo decir que estoy contento de lo que soy. Mis mejores amigos en la vecindad son Quico y la Chilindrina, a veces nos peleamos, pero ya luego se nos pasa y nos divertimos. Todos en la vecindad me conocen y aunque a veces no me tienen paciencia, sé que en el fondo todos me quieren y desean lo mejor para mí. 
      </p>
    </div>
  </div>
  {{> backhome}}
</div>