{{> navbar}}
<div class="container mt-3">
  <header class="my-5">
    <h1>Bienvenido a mi libro de historias</h1>
    <p>
      Este espacio es para contar y compartir todas las historias acerca de la maravillosa fauna y flora de América latina incluyendo los paisajes más bellos de nuestro continente, y especialmente de mi pais, México. Asi es que los espero....Bienvenidos!. 
    </p>
    <a href="/about">Yo soy el Chavo</a>
  </header>
  <hr>
  <h3 class="mt-5 mb-3">Últimas historias</h3>
  {{#each stories}}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.topic}}</p>
        <p class="card-text">{{this.content}}</p>
        <a href="/stories/{{this.id}}" class="btn btn-primary btn-sm">Leer más</a>
      </div>
    </div>
  {{/each}}
</div>